In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('movie.csv')
df.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [5]:
df.shape

(40000, 2)

In [6]:
df.describe()

              label
count  40000.000000
mean       0.499525
std        0.500006
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [7]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [8]:
#Lower All the cases
df['text']=df['text'].str.lower()
df.head()

                                                text  label
0  i grew up (b. 1965) watching and loving the th...      0
1  when i put this movie in my dvd player, and sa...      0
2  why do people who do not know what a particula...      0
3  even though i have great interest in biblical ...      0
4  im a die hard dads army fan and nothing will e...      1

In [9]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\allen.harry\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
## Removing special characters
df['text']=df['text'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))

## Remove the stopswords
df['text']=df['text'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

## Remove any additional spaces
df['text']=df['text'].apply(lambda x: " ".join(x.split()))

In [11]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\projects\movie_sentimental_nlp\menv1\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\projects\movie_sentimental_nlp\menv1\lib\site-packages (from BeautifulSoup4) (2.6)

In [13]:
from bs4 import BeautifulSoup

In [17]:
## Remove url 
df['text']=df['text'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

In [18]:
df.head()

                                                text  label
0  grew b 1965 watching loving thunderbirds mates...      0
1  put movie dvd player sat coke chips expectatio...      0
2  people know particular time past like feel nee...      0
3  even though great interest biblical movies bor...      0
4  im die hard dads army fan nothing ever change ...      1

In [4]:
df.to_csv('cleaned_movie.csv')

NameError: name 'df' is not defined

In [7]:
df1 = pd.read_csv('cleaned_movie.csv')
df1.head()

   Unnamed: 0                                               text  label
0           0  grew b 1965 watching loving thunderbirds mates...      0
1           1  put movie dvd player sat coke chips expectatio...      0
2           2  people know particular time past like feel nee...      0
3           3  even though great interest biblical movies bor...      0
4           4  im die hard dads army fan nothing ever change ...      1

In [8]:
df1= df1.drop(['Unnamed: 0'],axis=1)

In [9]:
df1.head()

                                                text  label
0  grew b 1965 watching loving thunderbirds mates...      0
1  put movie dvd player sat coke chips expectatio...      0
2  people know particular time past like feel nee...      0
3  even though great interest biblical movies bor...      0
4  im die hard dads army fan nothing ever change ...      1

In [30]:
!pip install lxml

Requirement already satisfied: lxml in c:\projects\movie_sentimental_nlp\menv1\lib\site-packages (5.3.0)

In [13]:
from bs4 import BeautifulSoup
## Remove html tags
df1['text']=df1['text'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

In [14]:
df1.head()

                                                text  label
0  grew b 1965 watching loving thunderbirds mates...      0
1  put movie dvd player sat coke chips expectatio...      0
2  people know particular time past like feel nee...      0
3  even though great interest biblical movies bor...      0
4  im die hard dads army fan nothing ever change ...      1

In [15]:
df1.to_csv('preprocessing_data.csv')